@import "tailwindcss";

.doctors-swiper .swiper-slide {
  opacity: 0 !important;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
}

.doctors-swiper .swiper-slide-active,
.doctors-swiper .swiper-slide-next,
.doctors-swiper .swiper-slide-prev,
.doctors-swiper .swiper-slide-duplicate-active,
.doctors-swiper .swiper-slide-duplicate-next,
.doctors-swiper .swiper-slide-duplicate-prev {
  opacity: 1 !important;
  pointer-events: auto;
}